body, html {
  height: 100%;
  width: 100%;
}

#welcome {
  position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

body {
  font-family: 'Open Sans', sans-serif;
    height: 200px;
    background: #ff00cc; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ff00cc, #333399); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff00cc, #333399); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff00cc, #333399); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff00cc, #333399; /* Standard syntax (must be last) */

}
